@model IEnumerable<FIT5032_ozzFIT_V2.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
                <a href="@Url.Action("Like", "Events", new { id = @item.EventId })" class="input-group-addon"><span class="glyphicon glyphicon-thumbs-up" id="like"></span> Like </a>

                @Html.EditorFor(modelItem => item.IsLike, new { htmlAttributes = new { @class = "form-control", @Value = "true" }, @hidden = "hidden" })
            </td>



            <td>
                <a href="/Emails/Create?id=@item.EventId">Send Email Notification</a> |
                <a href="/Comments/Create?id=@item.EventId">Comments</a> |
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    <script type="text/javascript">

        $(document).on("click", "a.like", function ()
        {
            if (!@ViewData["IsEnabled"]){
                alert('disabled');
                $('#input-group-addon').addClass('disabled');
            }
            else {
        $(this).removeAttr("disabled");
    }

                //var id = $(this).data("EventId");
                //var link = "EventsController/Like" + id;
                //$.ajax({
                //    type: "GET",
                //    url: link;

                //    }
                //});
                //    //$(this).find('input[type="click"]').attr('disabled', 'disabled');


                });

        $('.input-group-addon').click(function () {

            $this.prop('disabled', true);

        });

        @*$(function(){
    if(!@ViewData["IsEnabled"]){
        $('#input-group-addon').attr('disabled','disabled');
    } else {
        $(this).removeAttr("disabled");
    }
});*@


    </script>
}
