@model IEnumerable<FIT5032_ozzFIT_V2.Models.Likes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsLike)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsLike)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LikeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LikeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LikeId })
        </td>
    </tr>
}

</table>
