@model IEnumerable<FIT5032_ozzFIT_V2.Models.Comments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDateTime)
        </td>
        <td>
            <a href="/Events/Details?id=@item.EventEventId">@item.EventEventId</a>
            @*@Html.ActionLink(item.EventEventId, "Details", new { id = item.EventEventId })*@
            @*@Html.DisplayFor(modelItem => item.EventEventId)*@
            @*@ViewBag.EventEventName*@
            @* @Html.ActionLink(item.Event.EventName, "Details", "Events", new { id = item.EventEventId })*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CId })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to event", "Index", "Events")
</div>
