@{
    ViewBag.Title = "Home Page";
}

@*<style>
        body {
            background-image: url('../Content/UsersIndex.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            color: white;
        }
    </style>*@

@*<main class="jumbotron" style="background-image: url(../../Content/UsersIndex.jpg); color:white">
    <div class="container">
        <h1>ozzFIT</h1>
        <p class="lead">Fitness is a lifestyle</p>
        <br>
        <p>Choose to be fit with ozzFIT</p>
    </div>
</main>*@


<section id="main-area">
    <div class="container">
        <div class="row">
            <div id="artCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#artCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#artCarousel" data-slide-to="1"></li>
                    <li data-target="#artCarousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">

                    @*ozzFIT*@
                    <div class="item active">
                        <img srcset="~/Content/UsersIndex.jpg" alt="Group Fitness">
                        <div class="carousel-caption">
                            <h3><font size="5" color="white">ozzFIT</font></h3>
                            <p class="lead"><strong><font size="3" color="white">Fitness is a lifestyle</font></strong></p>
                            <br>
                            <p><strong><font size="3" color="white">Choose to be fit with ozzFIT</font></strong></p>
                            @*<p>"With ozzFIT not only can you send you healthy activities but also helps you grow healthy together with people of same interest." </p>*@
                        </div>
                    </div>



                    @*Events*@
                    <div class="item">
                        <img srcset="~/Content/events.jpg" alt="Events">
                        <div class="carousel-caption">
                            <h3><strong><font size="5" color="black">Events</font></strong></h3>
                            <p><strong><font size="3" color="black">"Attitude is all that matters"</font></strong> </p>
                        </div>
                    </div>

                    @*Nutritionist Counsellor*@
                    <div class="item">
                        <img srcset="~/Content/counsellor.jpg" alt="Events">
                        <div class="carousel-caption">
                            <h3><strong><font size="5" color="black">Consultations</font></strong></h3>
                            <p><strong><font size="3" color="black">"What we eat makes all the difference."</font> </strong></p>
                        </div>
                    </div>

                </div>
                    
                 
                    <a class="left carousel-control" href="#artCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#artCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
        </div>
    </div>
</section>







<div class="bs-docs-featurette">
    <div class="container">
        <h2 class="bs-docs-featurette-title">Designed for everyone, everywhere</h2>
        <p class="lead">ozzFIT strives to make healthier options easy to choose</p>
        <hr class="half-rule">
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    Sign up to ozzFIT to get events details and healthy meal options every day.
                </p>

                @Html.ActionLink("Sign Up", "Register", "Account", new { area = "" }, new { @class = "btn btn-default" })
            </div>
            <div class="col-md-4">
                <h2>Browse events</h2>
                <p>Signup for events and get more out of life. Get started now</p>
                @Html.ActionLink("Events", "Index", "Events", new { area = "" }, new { @class = "btn btn-default" })
            </div>
            <div class="col-md-4">
                <h2>Consultation</h2>
                <p>Our nutritionists help you personally in order to make better choices.</p>
                @Html.ActionLink("Book Consultation", "Create", "Consultations", new { area = "" }, new { @class = "btn btn-default" })
            </div>
        </div>

    </div>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Sign up to ozzFIT to get events details and healthy meal options every day.
            </p>

            @Html.ActionLink("Sign Up", "Register", "Account", new { area = "" }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Browse events</h2>
            <p>Signup for events and get more out of life. Get started now</p>
            @Html.ActionLink("Events", "Index", "Events", new { area = "" }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
    </div>*@


<section id="about">
    <div class="container">
        <div class="row text-center section_margintop50">
            <h3> About ozzFIT </h3>
            <p>Fitness is a lifestyle</p>
            <p>ozzFIT strives to make Melbourne fit!</p> <br>
            <p> It is for the fitness enthusiats, by the fitness enthusiasts. Any one can create events and people will be able to join in to have fun and make new frirnds.</p> <br>
            <p>Additionally we have newletters to give you tips on how to integrate fitness easily into your busy lives.</p> <br>
            <p> There are free cunsultations by fitness and nutritionist that you can attend to. </p> <br>
            <br>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row section_margintop50">
            <h3 class="text-center">Contact Us</h3>
           
            <div class="row text-center">
                <div class="col-md-12">
                   <p> Monash University<br />
                    900 Dandenong Rd, <br />
                    Caulfield East VIC 3145<br /> </p>
                </div>

            </div>
            <br>
        </div>
    </div>
</section>
